/* .button > a {
  background-color: var(--button-green);
  border-radius: 3px;
  padding: 5px 10px;
} */

.button {
  /* background-color: var(--button-green); */
  border-radius: 5px;
  padding: 10px 25px;
  display: inline-block;
}
