.header-container {
  border: 1px solid #c4c;
  /* height: 80vh; */
  width: 80%;
  margin: 60px auto;
}
.header-title {
  border: 1px solid rgb(68, 204, 147);
  width: 60%;
  margin: 0 auto 30px auto;
  text-align: center;
}

.header-text {
  border: 1px solid rgb(68, 138, 204);
  margin: 0 auto;
  text-align: center;
}

.header-image {
  border: 1px solid rgb(204, 129, 68);
  background-image: url("../../assets/Home-page.png"); /* The image used */
  height: 700px; /* You must set a specified height */
  background-position: bottom center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  margin: -150px auto 30px auto;
  width: 110%;
}

.header-button {
  border: 1px solid blue;
  margin: 0 auto;
  text-align: center;
}
