.footer-container {
  width: 100%;
  margin-top: 80px;
  background-color: #000000;
  color: #ffffff;
  padding: 20px 0;
}

.footer-section {
  /* border: 1px solid green; */
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.footer-map {
  /* border: 1px solid red; */
  height: 14rem;
  width: 26rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/footer-map.png);
  margin-right: 8rem;
}

.footers {
  display: flex;
  flex-direction: column;
}

.footer-nav {
  /* border: 1px solid rgb(0, 4, 255); */
  margin-right: 8rem;
  justify-content: center;
  padding: 0 20px;
}
.footer-nav > p {
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.footer-support {
  /* border: 1px solid rgb(251, 255, 0); */
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  /* margin-right: 5rem; */
}

.footer-social {
  /* border: 1px solid rgb(255, 0, 200); */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 20px;
}

.foot-tag {
  height: 2.5rem;
  width: 2.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.foot-tag:nth-child(1) {
  background-image: url(../../assets/social-whatsapp.png);
}
.foot-tag:nth-child(2) {
  background-image: url(../../assets/social-linkedIn.png);
}
.foot-tag:nth-child(3) {
  background-image: url(../../assets/social-twitter.png);
}
.foot-tag:nth-child(4) {
  background-image: url(../../assets/social-insta.png);
}

.footer-bottom {
  /* border: 1px solid rgb(0, 238, 255); */
  display: flex;
  flex-direction: column;
}

.footer-logo {
  background-image: url(../../assets/link-logo-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* border: 1px solid rgb(0, 238, 255); */
  width: 6rem;
  height: 4rem;
  margin-bottom: 10px;
}

.foot-para {
  margin-bottom: 20px;
  letter-spacing: 1px;
}
