.flag-container {
  background-color: var(--deep-blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px auto;
  padding: 60px 0;
  /* height: 250px; */
  border-radius: 10px;
}

.flags {
  height: 5rem;
  width: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.flags:nth-child(1) {
  background-image: url(../../assets/mask-group-28@2x.png);
}
.flags:nth-child(2) {
  background-image: url(../../assets/mask-group-22@2x.png);
}
.flags:nth-child(3) {
  background-image: url(../../assets/mask-group-12@2x.svg);
}
.flags:nth-child(4) {
  background-image: url(../../assets/mask-group-11@2x.svg);
}
